@font-face {
  font-family: "LXGWWenKaiMonoTC";
  src: url("fonts/LXGWWenKaiMonoTC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html body {
  /* 根據瀏覽器的預設文字大小設定相對值 /
  font-size: 100%;
  /* 只能放在這邊 header */
  /* 內容與邊框之間的空間 向內收縮多少 */
  padding: 0px;
  /* 四周間距歸零 */
  margin: 0px;
  width: 100%;
  height: 100vh;
}

body {
  background-color: #848484;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient {
  background-color: black;
  mask-image: linear-gradient(to right, transparent, black 60%);
}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.picture img {
  width: 200px;
  height: 100px;
}

.details {
  padding: 20px;
  border: 1px solid #ccc;
}

.job_container {
  margin-top: 20px;
  width: 50vw;
  height: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
}

.job_item {
  padding: 50px;
}

.contact-table {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-table td {
  padding: 10px;
}

.form-table {
  display: flex;
  justify-content: center;
  align-content: center;
}

input[type="text"],
input[type="email"],
textarea {
  /* 半透明 */
  background: rgb(255, 255, 255, 0.5);
  /* 邊框 */
  border: 1px #fff solid;
  /* 圓角 */
  border-radius: 5px;
  /* 間距 */
  padding: 10px;
  font-size: 1.25rem;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

.form-table input[type="submit"] {
  display: flex;
  width: 100%;
  max-width: 480px;
  align-self: center;
}
