html body {
  /* 根據瀏覽器的預設文字大小設定相對值 */
  font-size: 100%;
  /* 只能放在這邊 header */
  /* 內容與邊框之間的空間 向內收縮多少 */
  padding: 0px;
  /* 四周是否留白 */
  margin: 0px;
}

header {
  display: flex; /* 使用flexbox佈局 */
  justify-content: space-between; /* 讓內容在水平方向上兩端對齊 */
  align-items: center; /* 垂直置中 */
  padding: 0 30px; /* vertical horizontal */
  background-color: #5d5d5d;
}

.header-title {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex; /* 使用flexbox佈局使項目水平排列 */
  gap: 30px; /* 項目之間的間鉅 */
  list-style-type: none; /* 移除預設的列表樣式 */
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center; /* 垂直置中 */
}

body {
  background-color: #848484;
}

/* body div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
} */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.carousel-item {
  margin-bottom: 20px;
  text-align: center;
}

.carousel-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.carousel-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.carousel-image img {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.support {
  font-size: 18px;
  margin-bottom: 10px;
}

.platforms {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.platform {
  font-size: 24px;
}

button:hover {
  background-color: #0056b3;
}
