<style type="text/css"> 

body{ font-size: 16pt; color: #FF0000; background: #FFFFCC; }
h1,h2,h3{ font-size:14pt; color: #0000ff;  font-weight: bold; background: #CCFFFF;}
.style1 { color: #6600CC; }

</style>