@charset "utf-8";
/* CSS Document */
html {
	background-color: #CCC;
}
.menutop-li-1
body {
	background-color: #CCC;
}
#header {
	padding-top: 10px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
}
.olstyle1 {
	width: 150px;
	margin: 1px;
}
.olstyle1 li a {
	display: block;
}
li.menutop-li-1{
	list-style: none;
	border: 1px solid #FFFFFF;
	background: #9BE9FF;
	font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #2085BB;
	margin: 2px;
	padding: 3px;
}
li.menutop-li-1:hover{
	background-color: #CCFFCC;
	text-decoration: underline;
}
ul.menutop-ul-1{
	display: none;
	padding: 0px;
	border: 1px solid #999999;
	background: #D9F7FF;
	width: 138px;
	margin: 1px;
	list-style-type:none;
}
li.menutop-li-1:hover ul.menutop-ul-1{
	display:block;
}
.menutop-li-2{
	font-weight: normal;
	margin: 2px;
	padding: 2px;
}

.menutop-li-2:hover{
	background-color: #f1d6f7;
	padding: 2px;
}
.imgborder1 {
	border: 1px solid #336699;
}
.menutop-li-1 a:link {
	color: #2085BB;
}
.menutop-li-1 a:visited {
	color: #2085BB;
}
.menutop-li-1 a:hover {
	color: #2085BB;
}
